.loaderWrapper {
  position: fixed;
  top: 50%;
  left: 10%;
  width: 100vw; /* يشمل كل الشاشة */
  z-index: 9999;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  pointer-events: none; /* ما يمنع التفاعل مع باقي الصفحة */
}

.progress {
  width: 90%;
  max-width: 600px;
  height: 4px;
  background-color: #e0e0e0;
  overflow: hidden;
  border-radius: 2px;
}

.indicator {
  height: 100%;
  width: 40%;
  background-color: #ffc107;
  animation: slide 1.2s ease-in-out infinite;
  border-radius: 2px;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
