.muted-text {
  color: #6c757d;
  font-size: 14px;
}

.products-div {
  background-color: rgb(255, 255, 255);
}

.category-header {
  font-size: 20px;
  font-weight: 900;
  padding-top: 20px;
  padding-left: 20px;
}
