.login-container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    direction: rtl;
  }
  
  .login-box {
    flex: 1;
    padding: 2rem;
    max-width: 500px;
    margin: auto;

    border-radius: 8px;
    background-color: #fff;
  }
  
  .login-left {
    flex: 1;
    background-color: #f2f2f2; /* أو ضع صورة */
  }
  
  
  .icon {
    font-size: 40px;
    color: orange;
    margin-bottom: 1rem;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    background: #fffacd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .continue-btn {
    width: 100%;
    padding: 12px;
    background-color: #f7941d;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .facebook-btn {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .terms {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  
  .terms a {
    color: orange;
    text-decoration: none;
  }
  
  .footer {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #555;
  }
  