.homeHeaderContainer {
  margin: 10px  0 20px 0;
  height: 392px;
}

/* Custom column widths */
/* .leftColumn {
  width: 22%;
}

.centerColumn {
  width: 55%;
}

.rightColumn {
  width: 23%;
} */

/* Responsive adjustments */
@media (min-width: 1200px) {
  .leftColumn {
    width: 19.25%;
  }
  
  .centerColumn {
    width: 61.5%;
  }
  
  .rightColumn {
    width: 19.25%;
  }
}

@media (max-width: 1199px) {
  .leftColumn {
    width: 25%;
  }
  
  .centerColumn {
    width: 75%;
  }
  
  .rightColumn {
    width: 0%;
    display: none;
  }
}
